<div [formGroup]="form">


  <div [ngSwitch]="question.controlType">
    <md-input-container *ngSwitchCase="'textbox'" >
      <input md-input [formControlName]="question.key"
             [id]="question.key" [type]="question.type" [placeholder]="question.placeholder"/>
    </md-input-container>
    <md-select [placeholder]="question.label" [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <md-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</md-option>
    </md-select>
  </div>

  <div class="errorMessage" *ngIf="!isValid && form.controls[question.key].touched">
    {{question.label}} is required
  </div>
</div>
